body {
    padding: 30px;
    background-color: gray;
}

.articulo {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

img {
    width: 100%;
    border-radius: 15px;
}
.gato1 {
    size: 300px;
}
.gato2 {
    height: 250px;
}
.gato3 {
    height: 250px;
}
.precio {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
.titulo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}
.descripcion {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 14;
    font-family: Arial, Helvetica, sans-serif
}
.like {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.kokoro { 
    color: red;
    text-align: left;
    left: 20px;
}
.comm {
    color: black;
    right: 20px;
    position: absolute;
}