body {
    padding:  50px;
    background-color: beige;
}
h1{
    color: brown;
}
h1.fnt-red {
    color: red;
    }
    
.fnt-blue {
    color: blue;
    }
    
#nombre_alumno {
    color: red;
    text-decoration: underline;
    }
.titulo {
    color: mediumaquamarine;
    font-size: 30px;
    font-style: italic
}
.texto {
    color: blue;
    font-size: 15px;
}
.destacado {
    font-style: italic;
    font-weight: bold
}
.bodyej4 {
    background-color: gray;
}