
.topleft{
    background-color: red;
   
}

.topright {
    background-color: green;
    
}
.bottomleft {
    background-color: blue;
    
    
}
.botrigh {
    background-color: black;
    
    
    
}

.uno {
    color: white;
    font-size: 50px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    
    
}
div.dcontainer { 
    
    width: 100px;
    height: 100px;
    display: inline-block;
    
}
.fila {
    text-align: center;
}